.nafees{
    float: left;
    /* background-color: blue;
    color: white; */
    padding: 10px;
    margin: 10px auto;
    border-left: 2px blue solid;
}

.naseem{
    border: solid 10px black;
    padding: 10px;
    margin: 5px;
    float:left;
    /* color: white; */
    /* background-color: brown; */
}

