body{
    margin: 0;
    padding: 0;
}

.logo{
    width:100px;
    height: auto;
}

.jumbotron{
    height: 400px;
}  

.big-font{
    font-size: larger;
}

.switch:hover{
    display: none !important;
}