.bg-black{
    background-color: black;
  }
  .navbar{
    background-color: aqua;
    color: darkslategrey;
    font-size: 24px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }
  